<div class="well">
  <h2>Enter a zipcode:</h2>
  <input type="text" [(ngModel)]="zipcode" placeholder="Zipcode"
         class="form-control">

  <auto-complete-component
          #autoCompleteComponent
          placeholder="Search a country"
          [searchContent]="countries"
          [(search)]="country">

  </auto-complete-component>

  <state-btn-component [initialTemplate]="save"
                       [loadingTemplate]="saving"
                       [doneTemplate]="saved"
                       (mainClickEvent)="addLocation(this.zipcode)"
                       [loadable]="locationForecast$ | async"
  >
  </state-btn-component>

  <ng-template #save>
    Add location
  </ng-template>

  <ng-template #saving>
    Saving...
  </ng-template>

  <ng-template #saved>
    Done!
  </ng-template>

</div>
